.doctor-container {
  padding: 40px;
  background-color: #ffe4ec;
  text-align: center;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.doctor-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột bằng nhau */
  gap: 40px;
  justify-items: center; /* căn giữa mỗi thẻ */
}